<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= body %></p>
    <p>name is <%= data[0].name %></p>
    <p>age is <%= data[0].age %></p>
  </body>
</html>
